<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>

    <h1>Hasil pencarian untuk: <i>{{ search_query }}</i></h1>

    {% if search_results %}
        <ol>
            {% for result in search_results %}
                <li>{{ result }}<br><br></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>Maaf, tidak ada jurnal yang relevan</p>
    {% endif %}

</body>
</html>
